---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - monitor.bnei.dev
  resources:
  - deploymentmonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitor.bnei.dev
  resources:
  - deploymentmonitors/finalizers
  verbs:
  - update
- apiGroups:
  - monitor.bnei.dev
  resources:
  - deploymentmonitors/status
  verbs:
  - get
  - patch
  - update
