apiVersion: monitor.bnei.dev/v1
kind: DeploymentMonitor
metadata:
  labels:
    app.kubernetes.io/name: deployment-email-operator
    app.kubernetes.io/managed-by: kustomize
  name: deploymentmonitor-sample
spec:
  # Add fields here to configure the behavior of the operator
  monitoredAnnotationKey: "monitor.bnei.dev/enabled"
  monitoredAnnotationValue: "true"
  # Uncomment the following lines to monitor by label instead of annotation
  # monitoredLabelKey: "app.kubernetes.io/component"
  # monitoredLabelValue: "frontend"
  recipientEmail: "mohammad@bnei.dev" # Replace with the email address to send notifications
  smtpSecretName: "namespace/my-smtp-config-secret" # Name of the Secret containing SMTP configuration
  # The template will receive a data structure with fields:
	# .Namespace, .Name, .Image, .Replicas.
	# Example: "Deployment {{.Namespace}}/{{.Name}} updated. Image: {{.Image}}, Replicas: {{.Replicas}}"
  emailTemplate: |
    Subject: Deployment Update: {{.Name}} in {{.Namespace}}

    Hello,

    This is an automated notification regarding a deployment update.

    Deployment: {{.Name}}
    Namespace: {{.Namespace}}
    Image: {{.Image}}
    Replicas: {{.Replicas}}

    The deployment {{.Name}} in namespace {{.Namespace}} has been updated or reconciled.

    Best regards,
    Your Kubernetes Deployment Monitor
