apiVersion: monitor.bnei.dev/v1
kind: DeploymentMonitor
metadata:
  labels:
    app.kubernetes.io/name: deployment-email-operator
    app.kubernetes.io/managed-by: kustomize
  name: deploymentmonitor-sample
spec:
  # Add fields here to configure the behavior of the operator
  monitoredAnnotationKey: "monitor.example.com/enabled"
  monitoredAnnotationValue: "true"
  # Uncomment the following lines to monitor by label instead of annotation
  # monitoredLabelKey: "app.kubernetes.io/component"
  # monitoredLabelValue: "frontend"
  recipientEmail: "your-email@example.com" # Replace with the email address to send notifications
  smtpConfigSecretRef:
    name: my-smtp-config-secret # Name of the Secret containing SMTP configuration
    # The 'key' field is optional here. If omitted, the controller expects
    # 'smtpServer', 'smtpPort', 'smtpUsername', 'smtpPassword' keys in the secret.
