name: "Build, Test and Deploy"

on:
  pull_request:
    paths:
      - "**.go"
      - "**.mod"
      - "**.graphqls"
      - "Dockerfile"
  push:
    tags:
      - "*"

env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/deployment-monitor-operator
  PLATFORMS: linux/amd64

jobs:
  lint:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Build
        run: make build

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Test
        run: |
          make test

  build-push:
    runs-on: ubuntu-latest

    needs:
      - test
      - build

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: package.json info
        id: info
        uses: jaywcjlove/github-action-package@v2.0.0
        with:
          path: package.json

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: ${{ env.PLATFORMS }}
          context: .
          push: ${{ github.event_name == 'push' }}
          tags: ${{ env.IMAGE_NAME }}:${{ steps.info.outputs.version }}, ${{ env.IMAGE_NAME }}:latest
          cache-from: type=registry,ref=${{ env.IMAGE_NAME }}:latest
          cache-to: type=registry,ref=${{ env.IMAGE_NAME }}:latest,mode=max
          build-args: |
            --progress=plain
            --platform=${{ env.PLATFORMS }}

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: build-push
  #   if: github.event_name == 'push'
  #   defaults:
  #     run:
  #       working-directory: k8s
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #       with:
  #         fetch-depth: 0
  #         ref: "main"

  #     - name: package.json info
  #       id: info
  #       uses: jaywcjlove/github-action-package@v2.0.0
  #       with:
  #         path: package.json

  #     - uses: imranismail/setup-kustomize@v2

  #     - name: Update kustomize image version
  #       run: |
  #         kustomize edit set image ${{ env.IMAGE_NAME }}:${{ steps.info.outputs.version }}

  #     - name: git config
  #       run: |
  #         git config user.name "${GITHUB_ACTOR}"
  #         git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

  #     - name: git push
  #       run: |
  #         git add .
  #         git commit -m "Chore: update kustomize image version to ${{ steps.info.outputs.version }}"
  #         git push
